body {
    background-color: red;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .burger {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .menu {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
      width: 100%;
      padding: 10px 0;
    }
  
    .menu ul {
      flex-direction: column;
      align-items: center;
    }
  
    .menu li {
      margin: 10px 0;
    }
  
    .burger {
      display: block;
    }
  }